<div id="side-bar" class="col-md-2">
  <div class="side-navgroup list-group">
    <a href="#!/" class="side-navgroup-item home-navgroup-item list-group-item active">home</a>
    <a href="#!/login" class="side-navgroup-item list-group-item">log in</a>
    <a href="#" class="side-navgroup-item list-group-item">request access</a>
    <a href="#" class="side-navgroup-item list-group-item">applications</a>
    <a href="#" class="side-navgroup-item list-group-item">webforms</a>
    <a href="#" class="side-navgroup-item list-group-item">help</a>
    <a href="#" class="side-navgroup-item list-group-item">report issue</a>
  </div>
</div>
<div id="app-view" class="col-md-10">
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">this is a test</h3></div>
    <div class="panel-body">this is also a test</div>
    <div class="panel-footer">this is a final test</div>
  </div>
</div>
